body {
  background-color: hsl(0, 0%, 10%);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.to-do-list {
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
  color: white;
}

.input-group {
  margin-bottom: 20px;
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.8);
  width: 250px;
  max-width: 80vw;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button {
  background-color: hsl(125, 47%, 54%);
}

.add-button:hover {
  background-color: hsl(125, 47%, 44%);
}

.delete-button {
  background-color: hsl(10, 90%, 50%);
  margin-left: 10px;
}

.delete-button:hover {
  background-color: hsl(10, 90%, 40%);
}

.complete-checkbox {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

ol {
  padding: 0;
  list-style-position: inside;
  max-width: 600px;
  margin: 0 auto;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.text {
  flex: 1;
  text-align: left;
}

li.completed .text {
  text-decoration: line-through;
  color: gray;
}
